/* basic style and reset */

body {
    background-color: #f8f8f8;
    color: #333;
    font-family: Lato, sans-serif;
}

ul {
    margin: 0;
    padding: 0px;
}

li, h3 {
    list-style: none;
}

input,button{
    outline: none;
}

/* intro section */

.introduction__container {
    width: 500px;
    margin: 0 auto;
    display: block;
    text-align: right;
}

.introduction__container img {
    width: 100%;
}

.introduction__container .introduction__anchor {
    font-family: fantasy, cursive;
}

/* main todo section */

@media (max-width:768px) {
    
    .introduction__container { 
        text-align: center;
    }

}

.todo__container {
    display: block;
    width: 500px;
    margin: 0 auto 0;
}

.todo__task {
    width: 56%;
    display: inline-block;
    flex-grow: 1;
}

.todo__row-wrapper {
    display: flex;
    padding: 20px;
}

.button {
    background: none;
    border: 0px;
    color: #888;
    font-size: 15px;
    width: 60px;
    font-family: Lato, sans-serif;
    cursor: pointer;
}

.button:hover {
    color: #3a3A3a;
}

/* headings */

.todo__title,
.todo__task-input {
    color: #333;
    font-weight: 700;
    font-size: 15px;
    border-bottom: 2px solid #333;
    padding: 30px 0 10px;
    margin: 0;
    text-transform: uppercase;
}

.todo__text-input {
    margin: 0;
    font-size: 18px;
    line-height: 18px;
    height: 21px;
    padding: 0 9px;
    border: 1px solid #dDd;
    background: #FFF;
    border-radius: 6px;
    font-family: Lato, sans-serif;
    color: #888;
}

.todo__text-input:focus {
    color: #333;
}

/* Task list */

.todo__list-item {
    overflow: hidden;
    padding: 20px 0;
    border-bottom: 1px solid #eee;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.todo__task{
    padding-left: 10px;
    box-sizing: border-box;
    font-size: 18px;
    width: 226px;
}

.button__image {
    height: 2em;
    transform: rotateZ(45deg);
    transition: transform 200ms ease-in;
}

.button__image:hover {
    transform: rotateZ(0);
}

/* edit task */

.todo__text-input {
    display: none;
}

.todo__add-input {
 display: block;
}

.todo__edit-input {
    display: inline-block;
    width: 224px;
}

.todo__edit-label {
    display: none;
}